body{
    margin: 0;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90% !important;
    margin-top: 30px;
}
.section1inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 50px;
}
.section1inner p{
    width: 40%;
    font-size: 18px;
    line-height: 35px;
}
.section1inner img{
    width: 60%;
    height: auto;
}
.section2{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title, .title2{
    background-color: #2F2E3C;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 494px;
    height: 60px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(47, 46, 60, .25);

}
.title2{
    width: 750px;
}
.title h1, .title2 h1{
    text-transform: uppercase;
    color: white;
    font-family: Roboto;
    font-size: 32px;
    font-weight: bold;
}
.title h1 span, .title2 h1 span{
    color: #FFC13B;
}
.subtitle{
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
}
.section3{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    align-items: flex-start;
    height: 400px;
}
.sec3right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
}
.sec3rbtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 230px;
    padding: 0 15px;
    height: 89px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    cursor: pointer;
    transition: all ease-out 0.2s;
}
.sec3rbtn:hover{
    color: #FFBA00;
}
.sec3rbtn.active{
    background-color: #FFBA00;
    color: white;
}
.sec3rbtn p{
    font-size: 18px;
    font-family: Roboto;
    font-weight: 500;
    padding-left: 10px;
    width: 100%;
}
.sec3left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    height: 400px;
    width: 75%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.sec3leftcontent{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    height: 95%;
    justify-content: space-between;
}
.sec3leftupper button{
    background-color: #FFBA00;
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 8px 28px;
    border: none;
    border: 2px solid #FFBA00;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
    transition: all ease-out 0.2s;
}
.sec3leftupper button:hover{
    background-color: white;
    color: #FFBA00;
}
.sec3leftlower{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.sec3leftupper h6{
    font-size: 24px;
    margin: 10px 0;
}
.sec3leftlower .box{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.sec3leftlower .box img{
    height: 100px;
    width: 100px;
    border-radius: 100px;
}
.sec3leftlower .boxinner{
    background-color: #FFBA00;
    color: white;
    border-radius: 6px;
    width: 50%;
    text-align: center;
    padding: 5px 10px;;
}
.sec3leftlower .boxinner p{
    margin: 0;
}
.sec3leftimg{
    height: 400px;
    width: 267px;
}
.sec3leftimg img{
    object-fit: cover;
    height: 400px;
    width: 267px;
}

@media (max-width: 768px){
    .section1{
        width: 100%;
    }
    .section1inner{
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }
    .section1inner p{
        width: 100%;
        font-size: 14px;
        text-align: center;
        line-height: 30px;
    }
    .section1inner img{
        width: 100%;
    }
    .section2{
        margin-top: 50px;
    }
    .subtitle{
        font-size: 10px;
        width: 80%;
        text-align: center;
    }
    .section2{
        width: 100%;
    }
    .title, .title2{
        max-width: 100%;
        width: 90%;
        height: 44px;
        text-align: center;
    }
    .title h1, .title2 h1{
        font-size: 16px;
    }
    .section3{
        width: 90%;
        flex-direction: column;
    }
    .sec3right{
        height: 270px;
        width: 100%;
        row-gap: 10px;
    }
    .sec3rbtn{
        width: 100%;
        padding: 0 8px;
        height: 50px;
        justify-content: start;
    }
    .sec3rbtn p{
        font-size: 14px;
    }
    .sec3rbtn img{
        height: 20px;
        width: 20px;
    }
    .sec3left{
        margin-top: 20px;
        width: 100%;
    }
    .sec3leftimg{
        display: none;
    }
    .sec3leftupper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sec3leftupper h6{
        font-size: 20px;
        margin: 0;
    }
    .sec3leftupper p{
        text-align: center;
        font-size: 14px;
    }
    .sec3leftlower{
        margin-top: 40px;
    }
    .sec3leftlower .box img{
        height: 70px;
        width: 70px;
    }
    .sec3leftlower .boxinner p{
        font-size: 10px;
    }   
}