body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
    overflow-x: hidden !important;
    width: 100vw;
}

.section1 {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 6.5;
}

.coverImg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec1txt1, .sec1txt2{
    position: absolute;
}
.sec1txt1{
    background-color: #FFBA00;
    display: flex;
    flex-direction: row;
    width: 441px;
    height: 210px;
    align-items: center;
    justify-content: center;
    left: 10%;
    top: 15%;
    border-radius: 20px;
}
.sec1txt1 p{
    text-align: center;
    font-size: 80px;
    font-family: Roboto;
    font-weight: bold;
    color: #2F2E3C;
}
.sec1txt2{
    position: absolute;
    width: 70%;
    margin-left: 15%;
    bottom: -80px;
    background-color: #D9D9D9;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 217px;
}
.sec1txt2 hr{
    height: 100%;
    width: 0px;
    border: 1px solid white;
    color: white;
    margin: 0;
}
.sec1txt2 .s1box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    background-color: #2F2E3C;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 494px;
    height: 60px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(47, 46, 60, .25);
}

.section2{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title h1{
    text-transform: uppercase;
    color: white;
    font-family: Roboto;
    font-size: 32px;
    font-weight: bold;
}
.title h1 span{
    color: #FFC13B;
}
.subtitle{
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    opacity: 0;
    transform: translateY(50px);
    transition: all ease 1s;
}
.subtitle.show{
    opacity: 1;
    transform: translateY(0px);
}
.section3{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    align-items: flex-start;
    height: 450px;
    opacity: 0;
    transform: translateY(50px);
    transition: all ease 1s;
}
.section3.show{
    transform: translateY(0px);
    opacity: 1;
}
.sec3right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
}
.sec3rbtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 230px;
    padding: 0 15px;
    height: 89px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    cursor: pointer;
    transition: all ease-out 0.2s;
}
.sec3rbtn:hover{
    color: #FFBA00;
}
.sec3rbtn.active{
    background-color: #FFBA00;
    color: white;
}
.sec3rbtn img{
    height: 50px;
    width: auto;
}
.sec3rbtn p{
    font-size: 18px;
    font-family: Roboto;
    font-weight: 500;
    padding-left: 10px;
    width: 100%;
}
.sec3left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    height: 450px;
    width: 75%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.sec3leftcontent{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    height: 95%;
    justify-content: space-between;
}
.sec3leftupper button{
    background-color: #FFBA00;
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 8px 28px;
    border: none;
    border: 2px solid #FFBA00;
    border-radius: 10px;
    margin-top: 0px;
    cursor: pointer;
    transition: all ease-out 0.2s;
}
.sec3leftupper button:hover{
    background-color: white;
    color: #FFBA00;
}
.sec3leftlower{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.sec3leftupper h6{
    font-size: 24px;
    margin: 10px 0;
}
.sec3leftupper p{
    font-size: 17px;
    line-height: 1.65;
    color: #3a3a3a;
    margin-top: 10px;
    margin-bottom: 25px;
    max-width: 640px;
    letter-spacing: 0.2px;
    margin-bottom: 15px;

}
.sec3leftlower .box{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.sec3leftlower .box img{
    height: 100px;
    width: 100px;
    border-radius: 100px;
}
.sec3leftlower .boxinner{
    background-color: #FFBA00;
    color: white;
    border-radius: 6px;
    width: 50%;
    text-align: center;
    padding: 5px 10px;;
}
.sec3leftlower .boxinner p{
    margin: 0;
}
.sec3leftimg{
    height: 450px;
    width: 267px;
}
.sec3leftimg img{
    object-fit: cover;
    height: 450px;
    width: 267px;
}
.section4{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
    opacity: 0;
    transform: translateY(150px);
    transition: all ease 1s
}
.section4.show{
    opacity: 1;
    transform: translateY(0px);
}
.sec4left, .sec4right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}
.sec4title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #2F2E3C;
    color: white;
    
    font-weight: bold;
    height: 50px;
    max-width: 494px;
    width: 100%;
    border-radius: 10px;
    text-transform: uppercase;
    margin: 0;
}
.sec4title h1{
    font-size: 32px;
     margin: 0;
}
.sec4title span{
    color: #FFBA00;
}
.sec4subtitle{
    font-size: 16px;
    text-align: center;
    padding: 0 50px;
}
.sec4leftcontent, .sec4rightcontent{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    row-gap: 25px;
}
.sec4rightcontent .box img{
    object-fit: scale-down;
    height: 50px;
    width: 50px;
    padding: 0 15px;
    cursor: pointer;
}
.sec4leftcontent .box, .sec4rightcontent .box{
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    max-width: 600px;
    transition: all ease-out 0.2s;
    align-items: center;
    height: 99px;
}
.sec4leftcontent .box:hover, .sec4rightcontent .box:hover{
    border: 1px solid #FFBA00;
    color: #FFBA00;
}
.sec4leftcontent .box img{
    height: auto;
    width: 80px;
    padding: 10px;
    object-fit: cover;
}
.sec4leftcontent .box p, .sec4rightcontent .box p{
    margin-top: 5px;
}
.sec4leftcontent .box h1, .sec4rightcontent .box h1{
    font-size: 20px;
    margin-bottom: 5px;
}
.section5{
    margin-top: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(150px);
    transition: all ease 1s;
}
.section5.show{
    transform: translateY(0);
    opacity: 1;
}
.sec5content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 50px;
}
.sec5sliderbox{
    overflow: hidden;
    width: 100%;
}
.sec5slider{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 125%;
    transition: all ease 0.2s;
}
.sec5slider .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
}
.sec5slider .box img{
    height: 177px;
    width: 260px;
    object-fit: cover;
}
.titleboxslider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 24px;
    background-color: #FFBA00;
    border-radius: 10px;
    margin-top: 15px;
}
.titleboxslider h1{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.sec5slider p{
    font-size: 16px;
    line-height: 24px;
    padding: 0px 5px;
}
.section6{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    transition: all ease 1s;
    opacity: 0;
    transform: translateY(150px);
}
.section6.show{
    opacity: 1;
    transform: translateY(0);
}
.sec6inner{
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 10%;
    width: 85%;
}
.sec6left img{
    height: auto;
    width: 40vw;
}
.sec6right .contentTitle{
    font-size: 40px;
    color: #2F2E3C;
}
.sec6right .content{
    line-height: 30px;
}
@media (max-width: 768px){
    .sec1txt1{
        top: 10%;
        left: 15%;
        transform: translateX(-50%);
        width: 100px;
        height: 30px;
        border-radius: 5px;
        display: none;
    }
    .sec1txt1 p{
        font-size: 12px;
    }
    .sec1txt2{
        top: 100%;
        width: 100%;
        margin-left: 0;
        height: 100px;
    }
    .sec1txt2 h1{
        font-size: 16px;
    }
    .sec1txt2 p{
        font-size: 10px;
        text-align: center;
    }
    .sec1txt2 hr{
        height: 80%;
    }
    .title{
        max-width: 100%;
        width: 100%;
        height: 44px;
    }
    .title h1{
        font-size: 16px;
    }
    .section2{
        margin-top: 150px;
    }
    .subtitle{
        font-size: 10px;
        width: 80%;
        text-align: center;
    }
    .section2{
        width: 100%;
    }
    .section3{
        width: 90%;
        flex-direction: column;
    }
    .sec3right{
        height: 270px;
        width: 100%;
        row-gap: 10px;
    }
    .sec3rbtn{
        width: 100%;
        padding: 0 8px;
        height: 50px;
        justify-content: start;
    }
    .sec3rbtn p{
        font-size: 14px;
    }
    .sec3rbtn img{
        height: 20px;
        width: 20px;
    }
    .sec3left{
        margin-top: 20px;
        width: 100%;
    }
    .sec3leftimg{
        display: none;
    }
    .sec3leftupper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sec3leftupper h6{
        font-size: 20px;
        margin: 0;
    }
    .sec3leftupper p{
        text-align: center;
        font-size: 16px;
        line-height: 1.55;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .sec3leftlower{
        margin-top: 40px;
    }
    .sec3leftlower .box img{
        height: 70px;
        width: 70px;
    }
    .sec3leftlower .boxinner p{
        font-size: 10px;
    }
    .section4{
        margin-top: 80px;
        flex-direction: column;
    }
    .sec4left, .sec4right{
        width: 90%;
        margin-left: 5%;
        margin-bottom: 50px;
    }
    .sec4leftcontent .box, .sec4rightcontent .box{
        font-size: 15px;
    }
    .sec4leftcontent .box h1, .sec4rightcontent .box h1{
        font-size: 20px;
    }
    .sec4title{
        max-width: 100%;
        width: 100%;
        height: 44px;
    }
    .title{
        max-width: 90%;
    }
    .sec4title h1{
        font-size: 16px;
        text-align: center;
    }
    .sec4subtitle{
        padding: 0 10px;
        font-size: 12px;
    }
    .section5{
        margin-top: 30px;
    }
    .footer{
        margin-top: 50px !important;
    }
    .sec5content{
        width: 100%;
    }
    #sliderLeftArrow{
        transform: rotate(180deg) !important;
        height: 40px;
        width: 40px;
    }
    #sliderRightArrow{
        height: 40px;
        width: 40px;
    }
    .sec5sliderbox{
        width: 90%;
    }
    .sec5slider .box {
        min-width: 260px; 
    }
    .sec5slider{
        width: 500%;
        justify-content: space-evenly;
        margin-left: -2%;
    }
    .sec6inner{
        flex-direction: column;
        align-items: center !important;
        justify-content: center;
    }
    .sec6left img{
        width: 90%;
        height: auto;
    }
    .sec6right .contentTitle{
        font-size: 16px;
        text-align: center;
    }
    .sec6right .content{
        font-size: 12px;
        line-height: 25px;
        align-items: center;
    }
    .sec6left{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}