@font-face{
   font-family: MyFont;
   src:url(fonts/Expansivabold.otf);
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
}

.section1 {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 6.5;
}

.coverImg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec1txt1, .sec1txt2{
    position: absolute;
}
.sec1txt1{
    background-color: #FFBA00;
    display: flex;
    flex-direction: row;
    width: 441px;
    height: 210px;
    align-items: center;
    justify-content: center;
    left: 10%;
    top: 15%;
    border-radius: 20px;
}
.sec1txt1 p{
    text-align: center;
    font-size: 80px;
    font-family: Roboto;
    font-weight: bold;
    color: #2F2E3C;
}
.sec1txt2{
    position: absolute;
    width: 70%;
    margin-left: 15%;
    bottom: -80px;
    background-color: #D9D9D9;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 217px;
}
.sec1txt2 hr{
    height: 100%;
    width: 0px;
    border: 1px solid white;
    color: white;
    margin: 0;
}
.sec1txt2 .s1box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    background-color: #2F2E3C;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 494px;
    height: 60px;
    align-items: center;
    border-radius: 10px;
}
.section2{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title h1{
    text-transform: uppercase;
    color: white;
    font-family: Roboto;
    font-size: 32px;
    font-weight: bold;
}
.title h1 span{
    color: #FFC13B;
}
.subtitle{
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
}
.section3{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    height: 400px;
}
.sec3right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.sec3rbtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 230px;
    padding: 0 15px;
    height: 89px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}
.sec3rbtn.active{
    background-color: #FFBA00;
    color: white;
}
.sec3rbtn p{
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    padding-left: 10px;
}
.sec3left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    height: 100%;
    width: 75%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.section4{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 150px;
}
.sec4left, .sec4right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}
.sec4title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #2F2E3C;
    color: white;
    
    font-weight: bold;
    height: 50px;
    max-width: 494px;
    width: 100%;
    border-radius: 10px;
    text-transform: uppercase;
    margin: 0;
}
.sec4title h1{
    font-size: 32px;
     margin: 0;
}
.sec4title span{
    color: #FFBA00;
}
.sec4subtitle{
    font-size: 16px;
    text-align: center;
    padding: 0 50px;
}
.sec4leftcontent, .sec4rightcontent{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    row-gap: 25px;
}
.sec4leftcontent .box, .sec4rightcontent .box{
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    max-width: 600px;
}
.sec4leftcontent .box img, .sec4rightcontent .box img{
    height: 80px;
    width: 80px;
    padding: 10px;
}
.sec4leftcontent .box h1, .sec4rightcontent .box h1{
    font-size: 20px;
}
.section5{
    margin-top: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec5content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 50px;
}
.sec5sliderbox{
    width: 90%;
    overflow-x: hidden;
}
.sec5slider{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 125%;
    transition: all ease 0.2s;
}
.sec5slider .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
}
.sec5slider .box img{
    height: 177px;
    width: 260px;
    object-fit: cover;
}
.titleboxslider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 24px;
    background-color: #FFBA00;
    border-radius: 10px;
    margin-top: 15px;
}
.titleboxslider h1{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.sec5slider p{
    font-size: 16px;
    line-height: 24px;
    padding: 0px 5px;
}