.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
    width: 100%;
    margin-top: 100px;
}
.fupper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 95%;
    align-items: flex-start;
}
.fcontactform{
    width: 30%;
}
.fcontactform p, .flocatii p{
    font-size: 30px;
    font-weight: 500;
}
.fcontactform form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    
}
.fcontactform input{
    background-color: #ececec;
    height: 36px;
    border: none;
    font-family: Roboto;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
    color: rgb(82, 82, 82);
}
.fcontactform textarea{
    background-color: #ececec;
    height: 72px;
    border: none;
    font-family: Roboto;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
    color: rgb(82, 82, 82);
    resize: none;
    padding-top: 5px;
}
.fcontactform input[type="submit"]{
    width: 40%;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 8px;
}
.flocatii{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}
.floc{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 10px;
}
.box{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.boxshowing{
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    cursor: pointer;
    transition: all ease-out 0.2s;
}
.boxshowing h6{
    font-size: 24px;
    text-transform: uppercase;
    margin: 0;
}
.boxhidden{
    display: none;
    opacity: 0;
    height: auto;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 243);
    transition: all ease-out 0.2;
}
.flocation{
    padding-top: 30px;
}
.lowerheaderline{
    width: 100%;
    color: rgba(0, 0, 0, 0.2);
    margin-top: 70px;
}
.flower{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.flower-contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
}
#sliderLeftArrow{
    transform: rotate(180deg);
}
.gmaps{
        width: 371px;
        height: 337px;
    }
@media (max-width: 768px){
    .fupper{
        flex-direction: column;
    }
    .fcontactform{
        width: 100%;
    }
    .fcontactform input{
        height: 30px;
        font-size: 14px;
    }
    .fcontactform textarea{
        height: 60px;
        font-size: 14px;
    }
    .fcontactform input[type="submit"]{
        width: 100%;
        height: 40px;
        border-radius: 4px;
    }
    .flocatii{
        width: 100%;
    }
    .flower p{
        margin: 5px 0;
    }
    .flower-contacts{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .flower-copyright p{
        text-align: center;
    }
    .flocation{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .gmaps{
        width: 90%;
        height: 230px;
    }
    .boxshowing{
        height: 38px;
    }
    .boxshowing h6{
        font-size: 18px;
    }
    
}